.mainContainer {
    display: flex;
    justify-content: center;
}
.messages {
    flex-direction: column;
}

.userMessage {
    color: green;
    border: solid 2px;
    border-color: blueviolet;
}
.adminMessage {
    color: blueviolet;
    border: solid 2px;
    border-color: green;
}

